<div class="container" style="padding-top: 150px;">

<p id="notice"><%= notice %></p>
<h1>Themes</h1>
<hr>
<br>
<p>
  <strong>Title:</strong>
  <%= @theme.title %> -
  <%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
</p>


</div>
