<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 50%), url('https://media0.giphy.com/media/kdRDJbiSzih7G/source.gif');">
  <div>
    <div class="hidden-xs hidden-sm">
      <%= image_tag("lblogo.png")%>
    </div>
    <br>
    <p>BE MORE</p>
    <br>
    <i class="fa fa-angle-double-down symbols" aria-hidden="true"></i>

  </div>

</div>
