<div class="banner" style="/*background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.7) 50%), url('https://i.pinimg.com/originals/83/6c/c0/836cc0950f630aa6ec7f4481ebfdcea7.gif')*/; background-color: black;">
  <div>
    <div class="hidden-xs hidden-sm">
      <%= image_tag("vclogo.png")%>
    </div>
    <br>
    <p>APRENDE</p>
    <br>
    <i class="fa fa-angle-double-down symbols" aria-hidden="true"></i>

  </div>

</div>
