<div class="space">
  <div class="footer2">
    <div class="container text-center " style="padding-top: 8px; padding-bottom: 8px;" >
      <a href="http://www.leonardoluxburg.com">
        <%= image_tag "lllogo.png" %>
      </a>
    </div>
  </div>
</div>
