
<div class="text-center">
  <br>
<img src="https://clipartart.com/images/slack-logo-clipart-transparent-2.png" alt="" height="60px">
<br>
<br>
<p>¡Unete a nuestro canal de slack! Por allí podremos responder cualquier pregunta que tengas sobre las lecturas o el proyecto.  También encontraras personas aprendiendo y compartiendo de lo mismo. Queremos poder unir a todos nuestros lectores en un espacio donde puedan compartir sus opiniones y se ayuden a crecer unos a otros. ¡Aprovecha y comparte tus ideas te podrías un topar con un equipo que te ayude a desarrollarla !</p>
  <a href="https://join.slack.com/t/voidcamp/shared_invite/zt-d0os541d-Va~ccbQ9gorA5wzU3wgTzA" target="_blank"><h6 class="btn btn-dark ">
  JOIN NOW</h6></a>
</div>

</div>
