<div class="container" style="padding-top: 150px;">
  <h2 class="">Comunidad</h2>
  <hr>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 col-md-3 text-center">
        <a href="https://www.twicth.com/voidcamp/" target="_blank"><h1><i class="fab fa-twitch" style="font-size: 60px;"></i></h1></a>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
       <a href="https://www.instagram.com/voidcamp/" target="_blank"> <h1><i class="fab fa-instagram" style="font-size: 60px;"></i></h1></a>
     </div>
     <div class="col-xs-12 col-md-3 text-center">
       <a href="https://www.twitter.com/voidcamp/" target="_blank"> <h1><i class="fab fa-twitter" style="font-size: 60px;"></i></h1> </a>
     </div>
     <div class="col-xs-12 col-md-3 text-center">
       <a href="https://www.youtube.com/voidcamp/" target="_blank"> <h1><i class="fab fa-youtube" style="font-size: 60px;"></i></h1> </a>
     </div>
   </div>
 </div>
 <br>
 <%= render 'shared/slack' %>
</div>
<br>
<br>
<div class="container text-center">
  <h2 style="font-size: 40px"><i class="fab fa-patreon"></i> | PATREON</h2></a>
<p>Si deseas contribuir con a el proyecto y recibir beneficios al mismo tiempo suscríbete a nuestro Patreon. Escoge la membresía que más te guste y ayudanos a cumplir el objetivo de Void Camp.</p>
<a href="https://www.patreon.com" target="_blank"><h6 class="btn btn-dark ">
  JOIN NOW</h6></a>
</div>
