<div class="container" style="padding-top: 150px;">
  <h2 class="">Comunidad</h2>
  <hr>
  <br>
  <div class="text-center">
    <h3>Se parte de Void Camp</h3>
    <%= render 'shared/slack' %>
    <div class="text-center">
      <br>
      <p>No te queremos llenar el correo de spam. Siguenos en nuestras redes sociales para que te mantengas al tanto de lo que estamos construyendo. <br> Estaremos postenado lecturas nuevas todos los dias, disfruta de nuestros lives por twicth explicando las lecciones o miralos despues en nuestro canal de youtube! No te pierdas ningun evento y sigue creciendo junto con nostros. </p>
      <br>
    </div>
  </div>
  <br>
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 col-md-3 text-center">
          <a href="https://www.twicth.com/voidcamp/" target="_blank"><h1><i class="fab fa-twitch" style="font-size: 60px;"></i></h1></a>
        </div>
        <div class="col-xs-12 col-md-3 text-center">
         <a href="https://www.instagram.com/voidcamp/" target="_blank"> <h1><i class="fab fa-instagram" style="font-size: 60px;"></i></h1></a>
        </div>
        <div class="col-xs-12 col-md-3 text-center">
         <a href="https://www.twitter.com/voidcamp/" target="_blank"> <h1><i class="fab fa-twitter" style="font-size: 60px;"></i></h1> </a>
        </div>
         <div class="col-xs-12 col-md-3 text-center">
         <a href="https://www.youtube.com/voidcamp/" target="_blank"> <h1><i class="fab fa-youtube" style="font-size: 60px;"></i></h1> </a>
        </div>
      </div>
    </div>
  </div>
  <br>
<div class="container">
  <div class="text-center">
      <br>
      <p>Si deseas ayudar a el proyecto y recibir beneficios al mismo tiempo apoyanos en Paetron. Escoje el tier que mas te guste y con eso podras contribuir con el objetivo de Void Camp!  </p>
      <br>
      <a href="https://www.patreon.com/voidcamp/" target="_blank"><h2 style="font-size: 60px;"><i class="fab fa-patreon"></i> | PATREON</h2></a>
    </div>
</div>
