<div class="container" style=" height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  background-position: center;
  padding-top:100px;">
<div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= image_tag "vcpic.png", class: "card-img"%>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Void Camp</h2>
        <hr>
        <div style="padding-left: 10px;">
        <p class=""><i class="fas fa-location-arrow"></i> Ciudad de Panamá, Panamá</p>
        <p class=""><i class="fas fa-mobile-alt"></i> +507 6288-3330</p>
        <p class=""><i class="fas fa-envelope-open-text"></i> projectvoidcamp@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
