<div class="container space" style="">
  <h2 class="">Void Camp</h2>
  <hr>
  <br>
</div>
<div class="container text-justify" style="">
  <h3>¿ Que es ?</h3>
  <p>Void Camp es un proyecto social que tiene como objetivo formar una comunidad de emprendimiento con la visión de ofrecer educación gratuita y disponible para todo aquel que desee aprender y desenvolver su potencial.
  </p>
  <p>
    Buscamos crear una plataforma en la que voces independientes con experiencia profesional estén dispuestas a compartir sus historias, habilidades y conocimientos con el fin de motivar y educar a cualquier persona que no sepa por donde empezar a seguir su pasión y expandir sus conocimientos.
  </p>
  <p>
    Nuestro plan se basa en el desarrollo de una aplicación web en la que se posteará contenido educativo que impulse el crecimiento de ideas y habilidades. Aspiramos hacer de Void Camp una herramienta que moldee e incentive el aprendizaje. La aplicación web contará con tutorías, lecturas, entrevistas y más, enfocándonos en los siguientes temas:
  </p>
  <ul>
    <li>Programación</li>
    <li>Negocios</li>
    <li>Diseño</li>
    <li>Marketing</li>
    <li>Música</li>
    <li>Desarrollo personal</li>
  </ul>
  <p>Llevaremos a cabo múltiples eventos donde se expondrán todos los temas por medio de conferencias y exhortando a las personas a formar parte de Void Camp. Nuestra misión es crear una comunidad diversa y apasionada en la cual sus participantes puedan compartir sus conocimientos, experiencias e intereses, y expandirlos aún más al interactuar entre sí. Esto abre la puerta a un sin fin de oportunidades de crecimiento personal y colectivo al hacer networking, compartir ideas, crear proyectos y establecer un espacio en el que podamos construirnos unos a otros.
  </p>
  <p>Para nosotros no existen metas imposibles, todo se puede lograr con esfuerzo y dedicación. Queremos incentivar a las personas cumplir sus sueños y proveerles herramientas que les ayuden en el camino al éxito. Creemos que lo único que se requiere es dar el primer paso y empezar sin miedo al fracaso. Más allá de las circunstancias está nuestra voluntad para lograr las metas que nos proponemos. No pierdas el tiempo y empieza a trabajar por todo aquello que te has propuesto. Si no sabes por donde comenzar, te invitamos a que seas parte de nuestra comunidad y te unas a este gran proyecto.</p>
  <br>
</div>
<div class="container text-center">
  <h3 style="padding-top:150px;">Void Camp no seria posible sin la ayuda y <br>  generosidad de amigos como ... </h3>
  <br>
  <div class=" text-center">
    <h5>Si deseas patrocionar Void Camp <strong>contactanos!</strong></h5>
  </div>
  <br>
</div>
