<div class="container space" style="">
  <h2 class="">Void Camp</h2>
  <hr>
  <br>
</div>
<div class="container text-justify" style="">
  <p>Void Camp es un proyecto que fue creado con la iniciativa de compartir conocimiento, pensamientos y habilidades. Nuestra idea se basa en crear contenido educativo que pueda guiar el aprendizaje y el emprendimiento en el mundo digital. Queremos poder servir como un canal de educación alternativa para todo aquel desee aprender pero no sepa por donde empezar.
  </p>

</div>
<div class="container text-center">
  <h3 style="padding-top:150px;">Void Camp no seria posible sin la ayuda y <br>  generosidad de amigos como ... </h3>
  <br>
  <div class=" text-center">
    <h5>Si deseas patrocionar Void Camp <strong>contactanos!</strong></h5>
  </div>
  <br>
</div>
