.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  background-position: center;
}

.banner img{
  height: 300px;
}

.small img{
  height: 300px;
}

.punto img{
  height: 75px;
}


.banner2 {
  color: white;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  background-position: center;
}

.banner img{
  height: 300px;
}

.small img{
  height: 300px;
}

.punto img{
  height: 75px;
}

