.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
   background-attachment: fixed;
}

.banner img{
  height: 200px;
}

.small img{
  height: 300px;
}

.punto img{
  height: 75px;
}


.banner2 {
  color: white;
  text-align: center;
  height: 40vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
   background-attachment: fixed;
}

.banner2 img{
  height: 100px;
}

.small img{
  height: 300px;
}

.punto img{
  height: 75px;
}

